* {
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

body {
    background: hsla(44, 39%, 64%, 0.767);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666;
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#presentation {
    padding-top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: hsl(0, 4%, 15%);
    font-size: 3vh;
    text-shadow: #666 1px 1px;
}

h2 {
    color: hsl(0, 4%, 15%);
    font-size: 2vh;
}

.box {
    background-color: hsla(208, 100%, 97%, 0.363);
    margin: 1.5vh;
    font-size: 1.5vh;
    row-gap: 1vh;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #666 dotted 2px;
    border-radius: 5px;
    padding: 1vh;
}

#hobby {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hobby-title {
    text-decoration: underline;
}

#hobby-description {
    font-size: 2vh;
    width: 50vw;
    text-align: justify;
    margin: 2vh;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pic {
    height: 15vh;
    border-radius: 50%
}

#lz-img {
    height: 25vh;
    width: 20vw;
    border-radius: 1vh;
}

#tolkien-img {
    height: 25vh;
    width: 20vw;
    border-radius: 1vh;
}

.card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsla(42, 30%, 82%, 0.767);
    border-radius: 1vh;
    margin: 2vh;
    padding: 2vh;
}

.card h3{
    margin-bottom: 1vh;
}