@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url(https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff')
  }
  
  @font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url(https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff')
  }
  
  @font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url(https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff')
  }
  
  @font-face {
    font-family: Whitney;
    font-style: semibold;
    font-weight: 650;
    src: url(https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff')
  }
  
  @font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url(https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff')
  }

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}

header {
    grid-area: header;
    background-image: linear-gradient(to right, #07071bfb, #3638a8ce);
    border-radius: 1rem;
    padding: 1rem;
}

header h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    text-align: center;
}

main {
    padding: 1rem;
    grid-area: main;
    background-image: linear-gradient(to right, #07071bfb, #3638a8ce);
    padding-left: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

aside {
    text-align: center;
    grid-area: aside;
    background-image: linear-gradient(to right, #07071bfb, #3638a8ce);
    border-radius: 1rem;
}

footer {
    color: rgb(187, 155, 155);
    text-align: center;
    grid-area: footer;
    background-image: linear-gradient(to right, #07071bfb, #3638a8ce);
    border-radius: 1rem;
}

footer h2 {
    font-size: 2vh;
    font-weight: 900;
    border-radius: 25px;
}

aside p {
    padding-left: 7vh;
    text-transform: uppercase;
    color: rgb(187, 155, 155);
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    text-orientation: upright;
    writing-mode: vertical-lr;
}

.container {
    background-image: url(image/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA0My8zMjgvb3JpZ2luYWwvYXJvdW5kLWEtc3Rhci1zeXN0ZW0tMTkyMC5qcGc=.jpg);
    display: grid;
    grid-gap: .3rem;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 8vh 84vh 8vh;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

.astronauts {
    background-image: radial-gradient(circle, rgba(102, 91, 184, 0.856), rgba(66, 60, 117, 0.856));
    padding: 1.8rem;
    border-radius: 20px;
    max-width: fit-content;
    max-height: fit-content;
    margin-right: 8vh;
    margin-left: 30vh;
}

.astronauts p {
    text-align: center;
    background-image: linear-gradient(to right, #f5f5f5, #696666);
    padding: 2px;
    border: solid 1px #000;
    border-radius: 6px;
    font-weight: 700;
}

.astronauts p:hover {
    background-image: linear-gradient(to right, #696666, #f5f5f588);
    color: #fff;
    text-transform: uppercase;
    padding: 1rem;
}

.spaceships {
    overflow: auto;
    background-image: radial-gradient(circle, rgba(102, 91, 184, 0.856), rgba(66, 60, 117, 0.856));
    padding: 1.8rem;
    border-radius: 20px;
    max-width: fit-content;
    max-height: fit-content;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    margin-block: 10vh;
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#82419c), to(#911987), color-stop(.6,#b254de));
    border-radius: 8px;
}



.spaceships ul img {
    border: dotted 5px #000;
    margin-left: 2rem;
    align-items: center;
}

.spaceships ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.spaceships li {
    padding-top: 1rem;
}

ul {
    padding: 0 1.5rem;
    list-style-image: url(image/rocket.svg);
    list-style-position: inside;
    font-weight: 800;
    color:rgb(187, 155, 155);
    border-radius: 8px;
    text-decoration: underline;
}

li ul {
    list-style-image: radial-gradient(circle, rgba(99, 184, 91, 0.856), rgba(24, 70, 26, 0.856));
    border-radius: 15px 0px;
    text-decoration: none;
}

li:hover {
    text-transform: uppercase;
    font-weight: 900;
    background-color: #22156e73;
    border-radius: 15px 0px;
    text-decoration: none;
}

